*, *::before, *::after{

}

.head{
    background-color: #4536eb;
    font-family: sans-serif;
    color:rgba(0, 0, 0, 1);
    margin: 0;
}

.head a{
    color: black;
    text-decoration: none;
}

.links{
    margin-left: 1200px;
    
}

.links a{
    color: black;
    margin: 0 12px;
    display: inline-block;
    transition: color .3s;
    text-decoration: none;
}

.links a:hover, .links a.active{
    color: white;
}

.block{
    padding: 0 15px;
    max-width: 1050px;
}

.sidebar{
    font-size: 12px;
    height: 250px;
}

.sidebar a{
    display: block;
    text-decoration: none;
    width: 100%;
}

.sidebar a:hover{
    text-decoration: underline;
}

.mainbar{
    height:250px;
}

.rightbar{
    height: 250px;
}

.card{
    background-color: white;
    border: solid 1px grey;
    border-radius: 3px;
}

.card-head{
    padding: 10px;
    position: relative;
}

.avatar{
    border-radius: 50px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
}

.pseudo, .date{
    margin-left: 50px;
}

.card-head, .message, .likesncomments{
    padding: 10px;
}

.message{
    width: 100%;
    display: block;
}

.footer{
    justify-content: space space-between;
}


@media only screen and (min-width:100px){
    .head {
        display: flex;
        align-items:center;
        justify-content: space-between;
        height: 64px;
        padding: 0 25px;
    }
    .head a, .links{
        padding: 0;
    }
    .links a{
        margin: 0 20px;
    }
}

@media only screen and (min-width:1050px){
    .sidebar{
        flex: none;
        width:180px;
    }
    .mainbar{
        width: 100%;
        margin-left: 30px;
        margin-right: 30px;
    }
    .rightbar{
        flex: none;
        width:310px;
    }
}