*{
    box-sizing: border-box;
}

body{
    color: rgba(0, 0, 0, .8);
    margin: 0;
}

.top{
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 30px 150px;
}

.top nav{
    float: left;
}

.top nav a{
    color: black;
    font-weight: 500;
    margin: 0 50px;
}
.top nav a:hover, .top nav a.current{
    color: green;
}

.psychosocial{
    float: right;
}

.banner{
    height: 430px;
    background: no-repeat center center / cover url("img/flora.jpg");
}

.main{
    float: left;
    background: white;
    width: 60%;
    position: relative;
    z-index: 2;
}

.sidebar{
    float: right;
    background: white;
    width: 40%;
    border: solid;
    z-index: 1;
    font-size: 17px;
}

.sidebar-title{
    font-size: 30px;
    color: black;
    margin: 35px 0;
}

.sidebar-title:first-child{
    margin-top: 0;
}

.sidebar a{
    color: grey;
}

.sidebar ul{
    margin: 0;
    padding: 0;
}

.sidebar li{
    padding: 6px 0;
    display: block;
}

.sidebar a:hover{
    text-decoration: underline;
}

.article{
    overflow: hidden;
    margin: 50px auto;
    position: relative;
    padding-left: 333px;
    min-height: 203px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .6);

}

.article img{
    float: left;
    margin-right: 25px;
}

.date{
    font-weight: 300px;
    color: rgba(0, 0, 0, .6);
    margin-bottom: 5px;
}

.article-title{
    font-size: 2.25rem;
    line-height: 1.1;
    font-family: "Cardo", serif;
}

.bod{
    display: flexbox;
}

@media screen and (max-width:1100px) {
    .body{
        display:block;
    }
    .main{
        width:100%;
    }
    .sidebar{
        width:100%;
    }
}

@media screen and (max-width: 740px) {
    .article{
        padding-left: 0;
    }
    .container{
        padding: 0 20px;
    }
    .article-img{
        position: static;
        width: 100%;
        display: block;
    }
}

@media screen and (max-width: 850px){
    .top nav a{
        display: inline-block;
        margin: 0 20px 15px 20px;
    }
    .top nav, .psychosocial{
        float: none;
        text-align: center;
    }
}