.container {
    display: block;
    /*justify-content: space-between;*/
    background: linear-gradient(to right, rgb(29, 190, 115) 30%,black 70%, black);
    height: 50px;
}

.infos{
    color: white;
    text-decoration: none;
    height: 24px;
}

.infos li{
    justify-content: space-between;
    padding: 0 8px;
}

.connection a{
    color: white;
    text-decoration: none;
    align-items: center;
}

.connection li{
    padding: 0 8px;
}

.container ul{
    justify-content: space-between;
    display: flex;
}

.container li{
    margin: 0 4px;
}

@media only screen and (min-width:600px){
    .container li, a {
        height: 55px;
    }
    .container{
        display: flex;
        justify-content: space-between;
    }
}